.__nav_last > a
{
	color:#777;
}
.image_preview {
	/*overflow:scroll;*/
	border:1px solid #039;
	padding:10px;
	margin:0px;
	z-index:200 !important;
	position:absolute;
	width:400px;
	height:400px;
	background-color:#f9f9f9;
	/*vertical-align:middle;
	text-align:center;*/
	left:-10000px;
	top:10000px;
}
.image_preview img { 
	cursor:pointer;
}
.ajax_helper {
	position: absolute;
	width:50px;
	height:50px;
	z-index:300 !important;
	vertical-align:middle;
	text-align:center;
}
.ajax_helper img{
	border:0px;
}
.spinner
{
	padding-right:20px;					/* Padding pevents text from covering the up/dn img. Works better in Firefox but also causes textbox to widen by 20px. Arrows can go wonky in IE when text is too long. Perhaps it could be fixed with script that monitored the horiz-scroll position? */
	background-repeat:no-repeat;		/* Warning: Img may disappear in Firefox if you use 'background-attachment:fixed' ! */
	background-position:100% 0%;
	background-image:url(/w_images/spinner.png);
}
.spinner_up
{
	cursor:pointer;
	background-position:100% -18px;		/* 18px matches height of 2 visible buttons */
}
.spinner_down
{
	cursor:pointer;
	background-position:100% -36px;/* 36px matches height of 2x2 visible buttons */
}
.spinner_text
{
	font-size:10px;
	margin-left:5px;
}
th > img
{
	vertical-align:bottom;
}

.ruler 
{
	list-style: none;
	padding: 0;
	margin: 0;
}
.ruler li
{
	float:left;
	margin:0px;
}
.ruler li a
{
	display:block;
	height:24px;
	line-height:24px;
	width:24px;
	text-align:center;
	vertical-align:middle;
}
.ruler li.current a
{
	border:1px solid #777;
	height:22px;
	line-height:22px;
}
.ruler li.last a, .ruler li.first a
{
	width:1em;
}
/* color select */
.CS {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(/w_images/colorpicker/select.png);
}
.CS div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(/w_images/colorpicker/select.png) center;
}
.table_odd
{
	background-color:red;
}
.table_even
{
	background-color:blue;
}
.table_hover
{
	background-color:gray;
}
.captcha .captcha_reload
{
	font-size: 85%;
	text-decoration: none;
	color: #666666;
	border-bottom: #000000 1px dashed;
	cursor:pointer;
	text-align:center;
}
div.w-error-box div.w-error{
    color:red;
    border:1px solid #222222;
    border-top:0px;
    background-color:#dfdfdf;
    padding:7px;
}
div.w-error-box {
    display:none;
    position:absolute;
    opacity:0;
    z-index:1000;
    cursor:default;
}
div.w-error-box div.wrapper {padding:0px; margin:0px; border:0px; }

div.w-error-box img.corner{
	border:0px;
    display:block;
    float:left; 
    width:36px !important;
    height:16px !important;
    _margin-left:-4px;
    _margin-right:-5px;
}

div.w-error-box div.ertop{
	margin:0px !important;
    margin-left:36px !important;
    height:15px !important;
    max-height:15px;
    border-bottom:1px solid #222222;
    line-height:15px;
}
div.w-error{
    color:#990033;
    border:1px solid red;
}
