.__nav_last > a
{
	color:#777;
}
.image_preview {
	/*overflow:scroll;*/
	border:1px solid #039;
	padding:10px;
	margin:0px;
	z-index:200 !important;
	position:absolute;
	width:400px;
	height:400px;
	background-color:#f9f9f9;
	/*vertical-align:middle;
	text-align:center;*/
	left:-10000px;
	top:10000px;
}
.image_preview img { 
	cursor:pointer;
}
.ajax_helper {
	position: absolute;
	width:50px;
	height:50px;
	z-index:300 !important;
	vertical-align:middle;
	text-align:center;
}
.ajax_helper img{
	border:0px;
}
.spinner
{
	padding-right:20px;					/* Padding pevents text from covering the up/dn img. Works better in Firefox but also causes textbox to widen by 20px. Arrows can go wonky in IE when text is too long. Perhaps it could be fixed with script that monitored the horiz-scroll position? */
	background-repeat:no-repeat;		/* Warning: Img may disappear in Firefox if you use 'background-attachment:fixed' ! */
	background-position:100% 0%;
	background-image:url(/w_images/spinner.png);
}
.spinner_up
{
	cursor:pointer;
	background-position:100% -18px;		/* 18px matches height of 2 visible buttons */
}
.spinner_down
{
	cursor:pointer;
	background-position:100% -36px;/* 36px matches height of 2x2 visible buttons */
}
.spinner_text
{
	font-size:10px;
	margin-left:5px;
}
