add-xml-decl: no
doctype: omit
bare: yes
#clean: yes
drop-font-tags: yes
drop-proprietary-attributes: yes
enclose-block-text: yes
enclose-text: yes
output-xhtml:no
output-xml: yes
break-before-br: yes
indent: yes
indent-spaces: 4
sort-attributes: alpha
wrap: 200
char-encoding: utf8
tidy-mark: false
numeric-entities: yes
markup: yes
