#PHP_VALUE magick_quotes_gpc Off
#PHP_VALUE mbstring.internal_encoding UTF-8
#PHP_VALUE default_charset UTF-8
#PHP_VALUE mbstring.http_output UTF-8
#PHP_VALUE mbstring.encoding_translation On
#PHP_VALUE mbstring.detect_order UTF-8
#PHP_VALUE mbstring.func_overload 6
AddDefaultCharset utf-8

#ErrorDocument 400 /error_pages/50x.html
#ErrorDocument 401 /error_pages/50x.html
#ErrorDocument 403 /error_pages/50x.html
#ErrorDocument 404 /error_pages/50x.html
#ErrorDocument 503 /error_pages/50x.html

RewriteEngine On
Options +FollowSymLinks -MultiViews -Indexes -Includes

RewriteBase /
RewriteRule \.htaccess - [F]

RewriteCond %{ENV:REDIRECT_STATUS} !^$
RewriteCond %{REQUEST_URI} ^/?web 
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} -f 
RewriteRule ^.* - [L]

RewriteCond %{ENV:REDIRECT_STATUS} !^$
RewriteCond %{REQUEST_URI} ^/?web 
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f 
RewriteRule ^.* - [L,R=404]

RewriteCond %{REQUEST_URI} ^/?(robots.txt|sitemap[^\.]*\.xml(\.gz)?)
RewriteRule ^(.*) /web/$1 [L]

RewriteCond %{REQUEST_URI} !^/?([^/\.]{3,})/(.*)/([\.]+)\.(htm|html|xml)$
RewriteCond %{DOCUMENT_ROOT}/controllers/$1\.php -f
RewriteRule ^/?([^/\.]{3,})/(.*)/([\.]+)\.(htm|html|xml)$ /web/$1/$2/$3\.$4 [L]

RewriteCond %{REQUEST_URI} ^/?([^/\.]{3,})/(.*)$
RewriteCond %{DOCUMENT_ROOT}/controllers/$1\.php !-f 
RewriteCond %{DOCUMENT_ROOT}/web/$1/$2 -f 
RewriteRule ^/?([^/\.]{3,})/(.*)$ /web/$1/$2 [L]

#for images
RewriteRule ^/?(.*\.(jpg|png|jpeg|gif|ico)) /web/images/$1 [L]

#for js
RewriteRule ^/?(.*\.js) /web/js/$1 [L]

#for css
RewriteRule ^/?(.*\.css) /web/css/$1 [L]

#for swf
RewriteRule ^/?(.*\.swf) /web/flash/$1 [L]

RewriteCond $1 !^/?(router\.php)
RewriteRule ^(.*)$ /router.php [L] 


